// Category item
.rfipcategory {
	width: 100%;
	margin: 0 0 8px;
	select {
		width: 100%;
		display: block;
		height: 32px;
		line-height: 32px;
		border-radius: 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none; /* remove default arrow */
		background: url('../assets/angles/angle-down.svg') no-repeat scroll
			center right;
		background-size: 18px 18px;
		transition: border 250ms, box-shadow 250ms;
	}
}
