// Icons box
.rfipicons {
	// Pager
	&__pager {
		display: flex;
		flex-flow: row nowrap;
		height: 24px;
		line-height: 24px;
		align-items: center;
		margin-bottom: 8px;
	}

	// num
	&__num {
		width: 100px;
		margin-right: auto;
	}
	// current page
	&__cp {
		@include input($elem-border-color, $elem-border-focus-color);
		width: 32px;
		margin-right: 8px;
		height: 24px;
		line-height: 24px;
		text-align: right;
	}
	// separator
	&__sp {
		margin-right: 8px;
	}
	// total page
	&__tp {
		margin-right: 8px;
	}

	// arrows
	&__arrow {
		margin-left: auto;
		width: 56px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-end;
		align-items: center;
		height: 24px;
		user-select: none;
	}
	// left and right
	&__right {
		margin-left: auto;
	}
	&__left,
	&__right {
		cursor: pointer;
		width: 24px;
		height: 24px;
		position: relative;
		background-color: $pager-bg-color;
		transition: background-color 250ms, outline 250ms;
		outline: 1px solid transparent;
		&:hover {
			background-color: $pager-bg-hover-color;
		}
		&:focus,
		&:active {
			background-color: $pager-bg-hover-color;
			outline: 1px solid $pager-bg-hover-color;
		}
	}

	// Label
	&__label {
		height: 24px;
		width: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			height: 18px;
			width: 18px;
		}
	}

	// Icon Selector
	&__selector {
		display: flex;
		flex: 1 1 20%;
		flex-flow: row wrap;
		align-content: center;
		justify-content: center;
	}

	// Invidual icons
	&__icon {
		width: 20%;
		height: 64px;
		padding: 1px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		// Error
		&--error {
			display: block;
			padding: 16px;
			text-align: center;
			font-size: 24px;
			width: 100%;
			line-height: 1;
		}
	}

	// Individual icon box
	&__ibox {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
		background-color: $ibox-bg-color;
		transition: background-color 250ms, outline 250ms;
		outline: 1px solid transparent;
		* {
			transform: scale(1);
			transition: transform 250ms;
		}
		&:hover {
			background-color: $ibox-bg-hover-color;
			* {
				transform: scale(1.4);
			}
		}
		&:focus,
		&:active {
			background-color: $ibox-bg-hover-color;
			outline: 1px solid $ibox-bg-hover-color;
		}
	}
}
