// Dropdown
.rfipdropdown {
	width: 272px;
	max-width: 100%;

	// Selector box
	&__selector {
		padding: 16px;

		// Select item
		.rfipcategory {
			width: 100%;
			margin: 0 0 16px;
			select {
				width: 100%;
				display: block;
			}
		}

		// Search
		.rfipsearch {
			width: 100%;
			margin: 0 0 16px;
			input {
				width: 100%;
				display: block;
			}
		}

		// Icons box
		.rfipicons {

			// Icon Selector
			&__selector {
				display: flex;
				flex: 1 1 20%;
				flex-flow: row wrap;

				// Invidual icons
				&__icon {
					width: 20%;
					height: 48px;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
		}
	}
}
