@import '../../../node_modules/normalize.css/normalize.css';
@import '../../../node_modules/hamburgers/_sass/hamburgers/hamburgers';

body {
	background-color: #eee;
}

#app {
	min-height: 100vh;
	padding: 16px 32px;
	> div {
		margin-bottom: 16px;
	}
}
