$color-text: palette(Grey, 900);
$color-background: palette(White, 500);

$elem-border-color: palette(Grey, 400);
$elem-border-focus-color: palette(Grey, 500);

$pager-bg-color: palette(Grey, 200);
$pager-bg-hover-color: palette(Grey, 400);

$ibox-bg-color: palette(Grey, 100);
$ibox-bg-hover-color: palette(Grey, 300);
