.svg_004-green_lantern,
.svg_003-spiderman,
.svg_005-hawkeye,
.svg_007-thor,
.svg_006-captain_america,
.svg_009-green_arrow,
.svg_008-loki,
.svg_014-wonder_woman,
.svg_017-punisher,
.svg_016-flash,
.svg_019-bpdr,
.svg_020-joker,
.svg_022-two-face,
.svg_025-xavier,
.svg_024-magneto,
.svg_027-human_torch,
.svg_030-dr_manhattan,
.svg_031-rorschach,
.svg_033-the_riddler,
.svg_032-venom,
.svg_035-spawn,
.svg_034-aquaman,
.svg_036-ghost_rider,
.svg_037-rocketeer,
.svg_038-the_atom,
.svg_039-nick_fury,
.svg_040-cyclops,
.svg_042-deadpool,
.svg_044-solar,
.svg_043-dr_spectrum,
.svg_045-black_widow,
.svg_046-iron_fist,
.svg_049-tmnt,
.svg_050-the_spirit,
.svg_051-dr_octopus,
.svg_055-deathstroke,
.svg_053-gambit,
.svg_052-red_skull,
.svg_054-scarecrow,
.svg_056-brainiac,
.svg_059-black_adam,
.svg_058-karnak,
.svg_060-penguin,
.svg_061-shredder,
.svg_064-bane,
.svg_069-penguins_umbrella,
.svg_070-starlords_element_gun,
.svg_073-lukes_2nd_lightsaber,
.svg_075-green_goblins_pumpkin,
.svg_077-elektras_sais,
.svg_080-jokers_buzzer,
.svg_081-leonardos_katana,
.svg_085-freeze_ray_gun,
.svg_086-new_freeze_ray_gun,
.svg_089-ghost_riders_hellfire_chain,
.svg_090-dr_stranges_eye_of_agamotto,
.svg_091-gl_power_ring,
.svg_092-the_phantoms_ring,
.svg_095-dr_fate,
.svg_098-avengers,
.svg_096-x-men_logo,
.svg_097-fantastic_4 {
  width: 460px;
  height: 460px;
}
.svg_002-robin {
  width: 452.082px;
  height: 452.082px;
}
.svg_001-batman,
.svg_021-two-face_coin {
  width: 460.001px;
  height: 460.001px;
}
.svg_011-superman {
  width: 442px;
  height: 442px;
}
.svg_010-hulk {
  width: 450px;
  height: 450px;
}
.svg_012-daredevil {
  width: 380.9px;
  height: 380.9px;
}
.svg_015-catwoman {
  width: 387.688px;
  height: 387.688px;
}
.svg_013-wolverine {
  width: 429.975px;
  height: 429.975px;
}
.svg_018-ironman {
  width: 467.289px;
  height: 467.289px;
}
.svg_023-silver_surfer {
  width: 460.005px;
  height: 460.005px;
}
.svg_026-thing {
  width: 452.486px;
  height: 452.486px;
}
.svg_029-infinity_gauntlet {
  width: 459.94px;
  height: 459.94px;
}
.svg_028-mr_fantastic {
  width: 490.178px;
  height: 490.178px;
}
.svg_041-judge_dredd {
  width: 459.493px;
  height: 459.493px;
}
.svg_047-poison_ivy {
  width: 460.002px;
  height: 460.002px;
}
.svg_048-dr_doom {
  width: 461.727px;
  height: 461.727px;
}
.svg_057-moon_knight {
  width: 452.014px;
  height: 452.014px;
}
.svg_063-superman-hair {
  width: 459.974px;
  height: 459.974px;
}
.svg_062-hawkeye {
  width: 464.773px;
  height: 464.773px;
}
.svg_065-adamantium_shield {
  width: 454px;
  height: 454px;
}
.svg_066-daredevil_glasses {
  width: 444px;
  height: 444px;
}
.svg_067-mutagen {
  width: 442.001px;
  height: 442.001px;
}
.svg_071-hemans_power_sword {
  width: 459.994px;
  height: 459.994px;
}
.svg_068-hellboys_good_samaritan {
  width: 459.975px;
  height: 459.975px;
}
.svg_072-lukes_1st_lightsaber {
  width: 498.254px;
  height: 498.254px;
}
.svg_074-daredevils_billy_cub {
  width: 459.98px;
  height: 459.98px;
}
.svg_076-kryptonita {
  width: 441.988px;
  height: 441.988px;
}
.svg_078-bow_and_arrow {
  width: 459.993px;
  height: 459.993px;
}
.svg_079-jokers_gun {
  width: 506.271px;
  height: 506.271px;
}
.svg_082-michelangelos_nunchakus {
  width: 460.032px;
  height: 460.032px;
}
.svg_083-donatellos_bo_staff {
  width: 460.037px;
  height: 460.037px;
}
.svg_084-raphaels_sais {
  width: 470.199px;
  height: 470.199px;
}
.svg_088-mjolnir {
  width: 460.006px;
  height: 460.006px;
}
.svg_087-adamantium_claws {
  width: 472.002px;
  height: 472.002px;
}
.svg_093-batarang {
  width: 441.996px;
  height: 441.996px;
}
.svg_094-batmans_utility_belt {
  width: 482px;
  height: 482px;
}
.svg_099-spiderman-spider {
  width: 470.002px;
  height: 470.002px;
}
.svg_100-spiderman-web {
  width: 471px;
  height: 471px;
}
