{
	"presets": [
		["@babel/preset-env", {
			"targets": {
				"node": "9.0"
			},
			"shippedProposals": true
		}],
		["@babel/preset-react"]
	],
	"plugins": [
		["@babel/plugin-proposal-class-properties"]
	]
}
